<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h4>Названия методов для работы с данными:</h4>
        <p>api/organization/</p>
        <p>getorganizations - вывод всех записей; byname - поиск по имени; bywords - поиск по нескольким словам или части слов; {id} - поиск по id; pages - постраничный вывод с сортировкой и фильтрацией</p>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
